
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: clip;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1023px) {
  html {
    font-size: 18px;
  }
}

@font-face {
  font-family: 'g-market-sans';
  font-weight: normal;
  src: url('../src/assets/font/GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family: 'g-market-sans';
  font-weight: bold;
  src: url('../src/assets/font/GmarketSansTTFBold.ttf');
}

@font-face {
  font-family: 'g-market-sans';
  font-weight: 100;
  src: url('../src/assets/font/GmarketSansTTFLight.ttf');
}

* {
  transition: padding, font-size 0.3s ease;
  font-family: 'g-market-sans';
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}
button:hover {
  transform: scale(1.01);
}

button:active {
  transform: scale(0.99);
}

.header_hidden {
  top: -80px !important;
}
